#root {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.copilot-button {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  bottom: 30px;
  right: 45px;
  z-index: 1;
}

.copilot-button:hover {
  transform: scale(1.1);
  transition: 200ms;
}

.ReactModal__Content {
  position: absolute;
  inset: 100px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  width: 800px;
  height: 500px;
}